*{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2p',sans-serif;
    color: white;
    background-color: black;
}
header{
    position: relative;
    height: 35vh;
    border-bottom: 7px solid white;
}
main{
    height: 65vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    width: 52;
}